.contact-header-tablet {
  display: none;
}

@media (min-width: 768px) {
  .contact-header {
    display: flex;
    align-items: center;
    font: $link-font;
    text-decoration: none;
    color: $secondary-text-color;
    fill: $secondary-text-color;
    transition-property: color, fill;
    transition-duration: $default-transition-duration;
    transition-timing-function: $default-transition-timing-function;

    &:hover,
    &:focus {
      color: $highlight-color;
      fill: $highlight-color;
    }

    &--mail {
      width: 161px;
    }

    &__icon-envelope {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }

    &--tel {
      margin-top: 10px;
      width: 130px;
    }

    &__icon-smartphone {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }

  .contact-header-tablet {
    display: block;
  }
}

@media (min-width: 1200px) {
  .contact-header-tablet {
    display: flex;
    align-items: center;
    margin-left: 345px;
  }

  .contact-header {
    &--tel {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}
