.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: $highlight-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: $secondary-color;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $main-color;
}

.menu-container .menu-toggle:hover {
  color: $highlight-color;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu-navigation {
  margin-top: 48px;

  & > li:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-decoration: none;
    color: $main-color;
  }

  &__link:hover,
  &__link:focus {
    color: $highlight-color;
  }
}

.mobile-menu-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: $highlight-color;
  text-decoration: none;
  display: block;
  position: absolute;
  bottom: 194px;
}

.mobile-menu-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: $secondary-text-color;
  text-decoration: none;
  position: absolute;
  bottom: 134px;
}

.mobile-menu-social-media {
  color: $icons-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  position: absolute;
  bottom: 48px;

  &__link {
    text-decoration: none;
    color: $highlight-color;
  }
}
