.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;

  & > button {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: $highlight-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    color: $secondary-color;
    margin: 0 auto;
    margin-top: 30px;
  }

  & > label {
    position: relative;
  }

  &__box {
    position: relative;
  }

  &__box:focus-within,
  &__box:hover {
    fill: $highlight-color;
  }

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: $secondary-text-color;
  }

  &__label:not(:first-child) {
    margin-top: 10px;
  }

  &__icon-user {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 14px;
    left: 15px;
    transition-property: fill;
    transition-duration: $default-transition-duration;
    transition-timing-function: $default-transition-timing-function;
  }

  &__icon-mail {
    width: 15px;
    height: 12px;
    position: absolute;
    bottom: 14px;
    left: 13.5px;
    transition-property: fill;
    transition-duration: $default-transition-duration;
    transition-timing-function: $default-transition-timing-function;
  }

  &__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: $default-transition-duration;
    transition-timing-function: $default-transition-timing-function;
  }

  &__input:focus,
  &__input:hover {
    border-color: $highlight-color;
  }

  &__icon-phone {
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 13.74px;
    left: 14.27px;
    transition-property: fill;
    transition-duration: $default-transition-duration;
    transition-timing-function: $default-transition-timing-function;
  }

  &__textarea {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: rgba(117, 117, 117, 0.5);
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    transition-property: border-color;
    transition-duration: $default-transition-duration;
    transition-timing-function: $default-transition-timing-function;
  }

  &__textarea:hover,
  &__textarea:focus {
    border-color: $highlight-color;
  }

  &__icon-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid $main-color;
    border-radius: 1px;
    position: relative;
  }

  &__icon-check {
    width: 11px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 1px;
    stroke: $secondary-color;
    stroke-width: 0.2px;
  }
}

.modal-form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;

  &__input {
    width: 16px;
    height: 15px;
    opacity: 0;
    position: absolute;
    left: 25px;
    z-index: 1;
  }
}

.modal-form-checkbox__input:checked + .modal-form__icon-checkbox {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.terms {
  font: $default-font;
  color: $secondary-text-color;
  margin-left: 8px;

  &__highlight {
    color: $highlight-color;
    text-decoration: underline;
  }
}
