nav {
  display: none;
}

@media (min-width: 768px) {
  nav {
    display: block;
  }

  .navigation {
    display: flex;
    width: 254px;
    margin-left: 93px;

    & > li:not(:last-child) {
      margin-right: 46px;
    }

    &__link {
      text-decoration: none;
      font: $link-font;
      color: $main-color;
      transition-property: color;
      transition-duration: $default-transition-duration;
      transition-timing-function: $default-transition-timing-function;
      position: relative;
    }

    &__link:hover,
    &__link:focus {
      color: $highlight-color;
    }
  }
}
